/*-- scss:defaults --*/
$primary: #2c977e;
// $link-color: #832179;
$callout-color-note: $primary;
$navbar-bg: $primary;
$navbar-fg: #ffffff;

.custom-color {
    color: #832179; // 
}

.conf-tag {
    background-color: #832179; // 背景色を指定（例: 赤色）
    color: #ffffff; // フォント色を指定（例: 白色）
    padding: 5px 10px; // 適切なパディングを指定
    border-radius: 5px; // 角丸を指定
    font-size: 13px; // フォントサイズを指定   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // 影の指定

}

.journal-tag {
    background-color: #ffffff; // 背景色を指定（例: 赤色）
    color: #832179; // フォント色を指定（例: 白色）
    padding: 5px 10px; // 適切なパディングを指定
    border-radius: 5px; // 角丸を指定
    font-size: 13px; // フォントサイズを指定   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // 影の指定

}

// .journal-tag {
//     background-color: #d87218; // 背景色を指定（例: 赤色）
//     color: #ffffff; // フォント色を指定（例: 白色）
//     padding: 5px 10px; // 適切なパディングを指定
//     border-radius: 5px; // 角丸を指定
//     font-size: 13px; // フォントサイズを指定   
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // 影の指定

// }

// a {
//     color: $link-color;
// }