/*-- scss:defaults --*/
$primary: #2c977e;
// $link-color: #832179;
$callout-color-note: $primary;
$navbar-bg: $primary;
$navbar-fg: #ffffff;
.custom-color {
    color: #832179; // 
}

// a {
//     color: $link-color;
// }